@using CorePersonel.Models
@model List<Personel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<table class="table">
    <thead class="thead-light">
        <tr>
           
      
            <th scope="col">Adı</th>
            <th scope="col">Soyadı</th>
            <th scope="col">Birim</th>
            @*<th scope="col">Sil</th>
            <th scope="col">Güncelle</th>*@

            <th><a href="PersonelEkle" class="btn btn-info">Yeni Personel Ekle</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Name</td>
                <td>@x.Surname</td>
                <td>@x.Birim.BirimAd</td>
    
                @*<td><a href="PersonelSil/@x.PersonelId" class="btn btn-danger">Sil</a></td>
                <td><a href="PersonelGetir/@x.PersonelId" class="btn btn-success">Güncelle</a></td>*@

            </tr>
        }
    </tbody>
</table>

